<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @link.name %>
</p>

<p>
  <b>Permalink:</b>
  <%= @link.permalink %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
